<!DOCTYPE html>
<html lang="en">
<style>
table, th, td {
  border:1px solid black;
}
table.center{
margin-left: auto;
margin-right: auto;
}

</style>
<head>
    <meta charset="UTF-8">
    <title>Todo</title>
</head>
<body>
<table class="center">
    <tr>
        <th>Subject</th>
        <th>Content</th>
        <th>Due Date</th>
    </tr>
    {% for task in tasks %}
    <tr style="color:{{task.color}}">
        <th>{{ task.subject }}</th>
        <th>{{ task.content }}</th>
        <th>{{ task.due_date.month }}/{{ task.due_date.day }}/{{ task.due_date.year }}</th>
        <th>
            <a href="{{ url_for('delete', item_to_delete=task.id) }}">Delete</a><br>
            <a href="{{ url_for('update', item_to_update=task.id) }}">Update</a><br>
            <a href="{{ url_for('done', checkoff=task.id) }}">Done</a>
        </th>
    </tr>
    {% endfor %}
</table>

<form action="/", method="POST">

    <label for="sub">Subject:</label><br>
    <input type="text" name="subject" id="sub"><br>

    <label for="content">Content:</label><br>
    <input type="text" name="content" id="content"><br><br>

    <label for="month">Month:</label>
    <select name="month_dd" id="month">
        {% for i in range(1,13) %}
        <option value="{{i}}">{{i}}</option>
        {% endfor %}
    </select>

    <label for="day">Day:</label>
    <select name="day_dd" id="day">
        {% for i in range(1,32) %}
        <option value="{{i}}">{{i}}</option>
        {% endfor %}
    </select>

    <label for="year">Year:</label>
    <select name="year_dd" id="year">
        {% for i in range(2021,2031) %}
        <option value="{{i}}">{{i}}</option>
        {% endfor %}
    </select><br><br>

    <input type="submit" value="submit">
</form>
</body>
</html>